/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-family: 'Asap', sans-serif;
}
a:hover { text-decoration: none }
.logo img {
  max-width: 100px;
     position: absolute;
  left: 0;
  top: 0;
}
.logo a {
  color: #333;
}
.logo {
  font-size: 20px;
  font-weight: 777;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
}
.logo span {
  display: block;
  font-size: 80%;
  font-style: italic;
  font-weight: 400;
}
.right-contact-box {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  padding-left: 20px;
}
.col-md-3 {
}
.right-contact-box i.fa {
  position: absolute;
  left: -12px;
  top: 2px;
  font-size: 25px;
}
.right-contact-box a {
  color: #333;
}
.right-content-box i.fa {
}
.header-area {
  padding: 25px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.single-slide-item {
  padding-top: 180px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.single-slide-item{background-image: url(../img/slid-bg-1.jpg);}
.single-slide-item.slide-2{background-image: url(../img/slid-bg-2.jpg);}
.slide-text {
  position: relative;
  z-index: 1;
  padding: 70px;
  color: #333;
  line-height: 1.8;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 75px;
}
.slide-text:after {
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background: #fff;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.slide-text h2 {
  font-size: 50px;
  color: #222;
  font-weight: 900;
    margin-bottom: 50px;
}
.boxed-btn {
  display: inline-block;
  background: #ef800d;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
}
.slide-text .boxed-btn {
  margin-top: 30px;
}

.homepage-slides .owl-nav div {
  position: absolute;
  left: 50px;
  top: 50%;
  font-size: 30px;
  opacity: 0;
  transition: .3s;
  line-height: 60px;
  margin-top: -30px;
}

.homepage-slides .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}
.homepage-slides:hover .owl-nav div{
  opacity: .5;
}