/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
.section-padding{
    padding: 70px 0;
}
.fullwidth-bg-area{
    background-image: url(../img/fulwidth-bg.jpg);
    margin: 70px 0;
}

.margin-minus {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: -70px;
    margin-top: -70px;
    padding: 120px;
}
.dark-bg {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
.bordered-btn {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 35px;
    text-decoration: none;
}

.athor-name {
    font-family: roboto,regular;
    font-size: 22px;
    margin-top: 20px;
    padding-left: 35px;
    position: relative;
    text-transform: capitalize;
}
.athor-name > span {
}
.athor-name > span {
    color: #888;
    font-size: 18px;
    font-weight: 300;
}
.athor-name::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 25px;
}
.boxed-content > h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
}
.boxed-content {
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
}
.boxed-content::before {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    content: "";
    height: 50px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 50px;
}
.boxed-content::after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    bottom: 0;
    content: "";
    height: 50px;
    position: absolute;
    right: -70px;
    width: 50px;
}
